<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Product</title>
</head>
<body>
    <% if(!product.length) {%>
        <h2 style="color: red;"><%= "Your Product Is Not Defind" %></h2>
    <% } %>
    <% if(product.length) {%>
    <div>
        <ul>
            <% product.forEach(prd=>{%>
                <li style="color: rgb(248, 115, 7);">Prouduct is :<%= prd.product %> ==> Price is :<%= prd.price %></li>
            <% }) %>
        </ul>
    </div>
<div>
    <form action="/product/<%= product.order_id %>?method=PUT" method="post">
        <input type="text" placeholder="product" name="product" value="<%= product.product %>">
        <input type="decimal" placeholder="price" name="price" value="<%= product.price %>">
        <input type="submit" value="update" >
    </form>
</div>
<%}%>
</body>
</html>